<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Books</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
    <h1>All Books</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>Publication Year</th>
                <th>ISBN</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}">Title</td>
                <td th:text="${book.author}">Author</td>
                <td th:text="${book.pYear}">Publication Year</td> 
                <td th:text="${book.isbn}">ISBN</td> 
                <td th:text="${book.price}">Price</td> 
                <td>
                    <a th:href="@{/edit/{id}(id=${book.id})}">Edit</a> 
                    <a th:href="@{/delete/{id}(id=${book.id})}" onclick="return confirm('Are you sure?')" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="/addbook" class="btn btn-success">Add Book</a>
</body>
</html>